<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container my-5">
        <div class="card p-5 shadow">
            <form action="" method="post">
                <h2>
                    <span class="step-icon"><i class="bi bi-person"></i></span>
                    <span class="step-text mt-2">Data Member</span>
                </h2>
                <section>
                    <div class="mb-3 input-group">
                        <label for="nama_lengkap" class="input-group-text bg-white">Nama Lengkap</label>
                        <input type="text" class="form-control bg-white" id="nama_lengkap" value="nama_lengkap" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_identitas" class="input-group-text bg-white">Nomor Identitas (KTA/SIM)</label>
                        <input type="text" class="form-control bg-white" id="nomor_identitas" value="nomor_identitas" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="tempat_lahir" class="input-group-text bg-white">Tempat Lahir</label>
                        <input type="text" class="form-control bg-white" id="tempat_lahir" value="tempat_lahir" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_hp" class="input-group-text bg-white">Nomor Handphone/WA</label>
                        <input type="text" class="form-control bg-white" id="nomor_hp" value="nomor_hp" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="tanggal_lahir" class="input-group-text bg-white">Tanggal Lahir</label>
                        <input type="text" class="form-control bg-white" id="tanggal_lahir" value="tanggal_lahir" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="jenis_kelamin" class="input-group-text bg-white">Jenis Kelamin</label>
                        <input type="text" class="form-control bg-white" id="jenis_kelamin" value="jenis_kelamin" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="email" class="input-group-text bg-white">Email</label>
                        <input type="text" class="form-control bg-white" id="email" value="email" disabled readonly>
                    </div>
                </section>
                <h2>
                    <span class="step-icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="step-text mt-2">Alamat</span>
                </h2>
                <section>
                    <div class="mb-3 input-group">
                        <label for="alamat" class="input-group-text bg-white">Alamat</label>
                        <textarea class="form-control bg-white" id="alamat" rows="3" disabled readonly>alamat</textarea>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nama_jalan" class="input-group-text bg-white">Nama Jalan</label>
                        <input type="text" class="form-control bg-white" id="nama_jalan" value="nama_jalan" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="kota" class="input-group-text bg-white">Kota</label>
                        <input type="text" class="form-control bg-white" id="kota" value="kota" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_rumah" class="input-group-text bg-white">Nomor Rumah</label>
                        <input type="text" class="form-control bg-white" id="nomor_rumah" value="nomor_rumah" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="negara" class="input-group-text bg-white">Negara</label>
                        <input type="text" class="form-control bg-white" id="negara" value="negara" disabled readonly>
                    </div>
                </section>
                <h2>
                    <span class="step-icon"><i class="bi bi-bag-dash"></i></span>
                    <span class="step-text mt-2">Ukuran Baju</span>
                </h2>
                <section>
                    <div class="mb-3 input-group">
                        <label for="ukuran_baju" class="input-group-text bg-white">Ukuran Baju</label>
                        <input type="text" class="form-control bg-white" id="ukuran_baju" value="ukuran_baju" disabled readonly>
                    </div>
                </section>
                <h2>
                    <span class="step-icon"><i class="bi bi-car-front"></i></span>
                    <span class="step-text mt-2">Data Kendaraan</span>
                </h2>
                <section>
                    <div class="mb-3 input-group">
                        <label for="warna_kendaraan" class="input-group-text bg-white">Warna Kendaraan</label>
                        <input type="text" class="form-control bg-white" id="warna_kendaraan" value="nama_kendaraan" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_rangka" class="input-group-text bg-white">Nomor Rangka</label>
                        <input type="text" class="form-control bg-white" id="nomor_rangka" value="nomor_rangka" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="pemilik_stnk" class="input-group-text bg-white">Nama Pemilik di STNK</label>
                        <input type="text" class="form-control bg-white" id="pemilik_stnk" value="pemilik_stnk" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="tahun_pembuatan" class="input-group-text bg-white">Tahun Pembuatan</label>
                        <input type="text" class="form-control bg-white" id="tahun_pembuatan" value="tahun_pembuatan" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_mesin" class="input-group-text bg-white">Nomor Mesin</label>
                        <input type="text" class="form-control bg-white" id="nomor_mesin" value="nomor_mesin" disabled readonly>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="nomor_polisi" class="input-group-text bg-white">Nomor Polisi</label>
                        <input type="text" class="form-control bg-white" id="nomor_polisi" value="nomor_polisi" disabled readonly>
                    </div>
                </section>
                <h2>
                    <span class="step-icon"><i class="bi bi-file-earmark-arrow-up"></i></span>
                    <span class="step-text mt-2">Upload File</span>
                </h2>
                <section>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <img class="img-fluid" src="example.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" src="example.jpg" alt="">
                        </div>
                    </div>
                </section>

                <button type="submit" class="btn btn-primary">Simpan</button>
                <a class="btn btn-danger" href="https://abcommunity.web.id/2022/07/28/beranda/">Kembali</a>
            </form>
        </div>
    </div>
</body>
</html>